<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gaya city</title>
</head>

<body>

    <!-- nav bar -->

    <div class="nav-bar">
        <img src="logo1.png">
        <div style="display: flex;">
            <div style="padding: 20px; color: red; cursor: pointer">HOME</div>
            <div style="padding: 20px; color: red; cursor: pointer">NEWS</div>
            <div style="padding: 20px; color: red; cursor: pointer">EVENTS</div>
            <div style="padding: 20px; color: red; cursor: pointer">ABOUT</div>
            <div style="padding: 20px; color: red; cursor: pointer">HELP</div>
        </div>
    </div>

    <!-- hero section -->
    <div class="hero">
    </div>
</body>



</html>